@font-face {
    font-family: 'Fredroka';
    src: url('./assets/fredoka.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#main {
    position: relative;
    font-family: 'Fredroka';
}

#game {
    position: absolute;
}

#ui {
    position: absolute;
    width: 800px;
    height: 600px;
    padding: 20px;
    pointer-events: none;
}

.button {
    border: 3px solid #212121;
    border-radius: 15px;
    background-color: #f4c246;
    height: 3em;
    padding: 10px 30px;
    box-shadow: inset 0 -8px 6px -6px white;
    pointer-events: auto;
}
