.bokeh-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.bokeh {
    position: absolute;
    border-radius: 50%;
    opacity: .2;
}

.bokeh-1 {
    width: 500px;
    height: 500px;
    background: #650d61;
    animation: bokehOne 120s alternate infinite;
}

.bokeh-2 {
    width: 300px;
    height: 300px;
    background: #e92e2e;
    animation: bokehTwo 80s alternate infinite;
}

.bokeh-3 {
    width: 150px;
    height: 150px;
    background: #abe560;
    animation: bokehThree 100s alternate infinite;
}

@keyframes bokehOne {
    from {
        left: 10%;
        top: 10%;
    }
    to {
        top: 40%;
        left : 60%;
    }
}

@keyframes bokehTwo {
    from {
        left: 80%;
        top: 60%;
    }
    to {
        top: 100%;
        left : 0%;
    }
}

@keyframes bokehThree {
    from {
        left: 60%;
        top: 0%;
    }
    to {
        top: 10%;
        left : 30%;
    }
}
