#mainMenu {
    position: relative;
    flex-direction: column;

    .title {
        margin-bottom: 3rem;
    }

    & .game-title {
        font-family: "Suissnord";
        font-size: 7rem;
        text-align: center;
        margin: 0;
        padding: 0;
        color: cyan;
        line-height: 5rem;
        font-style: italic;
    }

    & .second {
        color: mediumvioletred;
        line-height: 5.5rem;
    }

    .title-line {
        height: 2px;
        width: 100%;
        background-color: white;
    }
}
