#mainMenu {
    flex-direction: column;

    & .game-title {
        font-family: "Suissnord";
        font-size: 7rem;
        text-align: center;
        background: -webkit-linear-gradient(#00d4ff, #f50ad6);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
}
