#mainMenu {
    flex-direction: column;

    & h1 {
        font-family: "Gameria";
        font-size: 10rem;
        text-align: center;
        color: #968dff;
        transform: rotate(5deg);
    }
}
